.container{
    background-color: black;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color: white;
}

.aa{
    background: linear-gradient(to left, grey, blue);
    width: 450px;
    height: 250px;

}
.bb{
    background: linear-gradient(to left, brown, silver);
    width: 450px;
    height: 250px;


}
.cc{
    background: linear-gradient(to left, red, orange);
    width: 450px;
    height: 250px;

}
a{
    box-shadow: 5px 5px 5px;
    padding: 10px;
    background-color: white;
    border-radius: 3px;
}